<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Utwórz nowe konto</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signupForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signupForm.controls['login'].dirty && signupForm.hasError('required','login')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="login" type="text" placeholder="Login">
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['login'].dirty && signupForm.hasError('required','login')" class="text-danger">*Login jest wymagany!</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Hasło">
                                    <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger">*Hasło jest wymagane!</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">
                                    <span class="fa fa-envelope p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" class="text-danger">*Email jest wymagany!</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signupForm.controls['name'].dirty && signupForm.hasError('required','name')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="name" type="text" placeholder="Imie">
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['name'].dirty && signupForm.hasError('required','name')" class="text-danger">*Imie jest wymagane!</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signupForm.controls['surname'].dirty && signupForm.hasError('required','surname')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="surname" type="text" placeholder="Nazwisko">
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['surname'].dirty && signupForm.hasError('required','surname')" class="text-danger">*Nazwisko jest wymagane!</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signupForm.controls['phoneNumber'].dirty && signupForm.hasError('required','phoneNumber')">
                                    <span class="fa fa-phone p-2"></span>
                                    <input formControlName="phoneNumber" type="text" placeholder="Numer telefonu">
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['phoneNumber'].dirty && signupForm.hasError('required','phoneNumber')" class="text-danger">*Numer telefonu jest wymagany!</small>

                            <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Utwórz konto</button>
                            <div class="text-center pt-4 text-muted">
                                Masz już konto?
                                <a class="link" id="forget" routerLink="/login">Zaloguj się</a>.
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>