<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-4 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold">Nasza oferta</h3>
                </div>
                <div class="panel-body p-3">
                    <div style="text-align:center">
                        Przedstawiamy ofertę wykonywanych przez nas usług.<br>
                        Jeśli nie znalazłeś nic związanego z twoim problem,<br>
                        wyślij do nas <a class="link" href="zapytanie">zapytanie ofertowe</a>.
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Rodzaj usługi</th>
                        <th>Opis</th>
                        <th>Cena*</th>
                        <th>Szacowany czas**</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Wymiana oleju</td>
                        <td>Wymiana oleju silnikowego w samochodach osobowych</td>
                        <td>100,00zł</td>
                        <td>1 dzień</td>
                    </tr>
                    <tr>
                        <td>Wymiana układu hamulcowego</td>
                        <td>Wymiana elementów układu hamulcowego, takich jak klocki, zaciski, tarcze, wraz z płynem hamulcowym i odpowietrzeniem układu.</td>
                        <td>300,00zł</td>
                        <td>2 dni</td>
                    </tr>
                </tbody>
            </table>
            <p style="font-size: 10px;"><br>* cena jest jedynie proponowaną ceną wykonania usługi - może różnić się w zależności od rodzaju czy modelu pojazdu (do ceny należy również doliczyć koszt części)</p>
            <p style="font-size: 10px;">** szacowany czas wykonania usługi może różnić się w zależności od rodzaju czy modelu pojazdu</p>
        </div>
    </div>
</div>