<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-4 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold" style="text-align:left; padding:1rem">Informacje kontaktowe</h3>
                </div>
                <div class="panel-body p-3">
                    <div style="text-align:left">
                        <p>Email kontaktowy: <a class="link" href="mailto:">kontakt@warsztat.pl</a></p>
                        <p>Numer telefonu: 123 456 789</p>
                        <p>Lokalizacja: Miasto 00-000 ul. Ulica 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>